body {
	backround-color: whitesmoke;
}

div {
	background-color: white;
	width: 250px;
	border: 15px black;
	padding: 15px;
	margin: 15px;
}
 h1 {
 	float: left;
 }

 ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
 li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

